.color {
	width: 600px;
	border: 1px solid black;
}

.bloque{
	height: 150px;
	width: 150px;
	float: left;	
}

.amarillo{
	background: #FFFF00;
}

.azul{
	background: #3A81BA;
}
.rojo{
	background: #ED2251;
}